@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-customblue: var(--custom-blue);
  --color-customblack: var(--custom-black);
  --color-placeholder: var(--placeholder);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --custom-blue: #0e40b0;
    --custom-black: #1e293b;
    --placeholder: #d1d5db;
    --font-poppins: var(--poppins-font);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--poppins-font);
}
